@model Salon.Models.Nalog

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Nalog</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Korisnicko_ime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Korisnicko_ime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sifra)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sifra)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipKorisnika)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipKorisnika)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.NalogID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
