@model Salon.Models.Termin

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Termin</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Datum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Datum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Vreme)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vreme)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Frizura.Boja)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Frizura.Boja)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TerminID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
